body {
    background-image: url(https://i.pinimg.com/736x/e9/94/04/e994041fbd854407f2a6087cb1c4478e.jpg); 
    font-family: Geneva;
    font-size: 16px; 
}

h1, h2, h3, h4{
    color: black;
    font-family: 'Lucida Sans Unicode';
}

figcaption {
    color: rgb(45, 44, 57);
}

p {
    color: rgb(45, 44, 57);
}

a {
    color: rgb(45, 44, 57);
}

ul {
    color: rgb(45, 44, 57);
}

li {
    color: rgb(45, 44, 57);
}

ol {
    color: rgb(45, 44, 57);
}

hr {
    color: black;
}

fieldset {
    color: rgb(45, 44, 57);
}

div {
    box-sizing: border-box
}

.author {
  font-weight: bold;
}

.row {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem;
}

.box {
  flex: 1 1 300px;
  max-width: 500px;   
  padding: 1rem;
}


.container-fluid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 1200px;
}

